@page
@model HomeworkAspNetTask4.Pages.ListModel
@{
}

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Independent
			</th>
			<th>
				The UN Mamber
			</th>
			<th>
				Languages
			</th>
			<th>
				Capital
			</th>
			<th>
				Region
			</th>
			<th>
				Area
			</th>
			<th>
				Population
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model.Countries)
		{
			<tr>
				<th>
					@item.Name
				</th>
				<th>
					@item.Independent
				</th>
				<th>
					@item.UnMember
				</th>
				<th>
					@foreach(var lang in item.Languages)
					{
						@lang <br/>
					}
				</th>
				<th>
					@item.Capital
				</th>
				<th>
					@item.Region
				</th>
				<th>
					@item.Area
				</th>
				<th>
					@item.Population
				</th>
			</tr>
		}
	</tbody>
</table>
